<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.wallpaper">

    <uses-sdk android:targetSdkVersion="28" android:minSdkVersion="28"/>
    <application
        android:extractNativeLibs="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/product_logo_wallpapers_launcher_color_48"
        android:label="@string/app_name"
        android:theme="@style/WallpaperTheme"
        android:requiredForAllUsers="true"
        android:restoreAnyVersion="true"
        android:supportsRtl="true">

        <activity android:name="com.android.theme.picker.ThemePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/WallpaperTheme"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
